{{- if site.Data.settings.global.maintenance_mode -}}
<!doctype html><html lang="{{ site.LanguageCode | default "es-CL" }}"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="robots" content="noindex,nofollow"><title></title></head><body></body></html>
{{- else -}}
<!doctype html>
<html lang="{{ site.LanguageCode | default "es-CL" }}">
  <head>
    {{ partial "seo.html" . }}
    {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  </head>
  <body>
    {{ partial "header.html" . }}
    <main id="contenido">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  </body>
</html>
{{- end -}}
