<!doctype html>
<html lang="{{ site.LanguageCode | default "es-CL" }}">
  <head>
    {{ partial "seo.html" . }}
    {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  </head>
  <body>
    {{ partial "header.html" . }}
    <main id="contenido">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  </body>
</html>
